body{
    margin:0px;
}
.top-bar {
    display: flex;
    justify-content: flex-end;
    height: 4rem;
    background-color: #4267b2;
    border: 1px   solid grey;
    color: #fafbfd;  
}
.top-bar > ul{
    list-style-type: none;
    padding: 0.5rem;
    display: flex;
    align-items: center;
 }
 .top-bar > ul > li{
     padding: 1rem;
     color: #64686e;   
 }
 .top-bar> ul > li a{
     padding: 0.5rem;
     color: #64686e;
     text-decoration: none;
     font-size: 1rem;
     color:#e4e5e8;
    
 }
 .flex{
     display: flex;
     flex-direction: row wrap;
     justify-content: space-around;
     margin: 1rem;
     padding: 1rem;
 }
 .flex >p {
     padding: 1rem;
 }